In [2]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
from sklearn.tree import DecisionTreeRegressor as dtr
from sklearn import tree
from sklearn.model_selection import GridSearchCV, train_test_split

In [3]:
df = pd.read_csv("Advertising (1).csv")
df.head()
df =df.drop('Unnamed: 0', axis = 1)
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
y = df["sales"]

In [5]:
df = df.drop("sales", axis =1)
df.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [6]:
y = pd.Series.to_frame(y)
y.head()

#df.head()

   sales
0   22.1
1   10.4
2    9.3
3   18.5
4   12.9

In [7]:
x_train,x_test,y_train,y_test = train_test_split(df,y,test_size = 0.2)

In [8]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 137 to 87
Data columns (total 3 columns):
TV           40 non-null float64
radio        40 non-null float64
newspaper    40 non-null float64
dtypes: float64(3)
memory usage: 1.2 KB

In [9]:
regressor = dtr(random_state=0)

In [10]:
y_pred = regressor.fit(x_train,y_train)
y_pred

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=0, splitter='best')

In [21]:
parameters = {
      # numbers of features per tree to try
     'max_depth': range(2,8),
     'min_samples_split': range(2,8),# Mahsing the variou saprams , we get something below 1 
     'min_samples_leaf':range(2,10)
    }

In [27]:
clf = GridSearchCV(regressor, parameters)
final = clf.fit(x_train, y_train)
clf.best_score_, clf.score(x_test, y_test), clf.best_params_

(0.9251744525131009,
 0.9625730606170849,
 {'max_depth': 7, 'min_samples_leaf': 3, 'min_samples_split': 2})

In [28]:
predictions = clf.predict(x_test)
from sklearn.metrics import mean_squared_error
from math import sqrt
rmse = sqrt(mean_squared_error(y_test, predictions))
print("RMSE for training data:", rmse)

RMSE for training data: 0.8847188034121982

In [38]:
final_mod = dtr(max_depth = 7, min_samples_leaf =  3, min_samples_split = 2) 
final =final_mod.fit(x_train, y_train)

In [40]:
final_pred = final_mod.predict(x_test)
final_pred

array([20.76666667,  8.3       , 11.86666667, 14.96666667, 14.18      ,
       13.525     , 11.7       , 10.96      , 10.61666667, 18.5       ,
       11.6       , 18.5       , 12.12      , 12.76666667, 11.7       ,
       13.025     , 16.3       , 18.9       , 10.96      , 13.025     ,
       19.8       , 11.7       , 16.3       , 22.96      , 20.175     ,
       23.43333333,  7.2       ,  5.33333333, 11.86666667, 16.3       ,
       11.86666667, 25.16666667, 12.12      , 13.025     , 13.525     ,
       16.03333333,  5.86666667, 18.5       , 21.96666667, 14.98      ])

In [39]:
tree.export_graphviz(final,out_file='adv.dot')