In [23]:
import numpy as np
import math as ma

In [14]:
a = np.array([1,2,3], dtype  = int)

In [15]:
a

array([1, 2, 3])

In [21]:
a = np.mat(a)
b= np.mat('1,2,3;2,3,4;3,3,4;3,4,5')
b
a = np.array(a)
a

array([[1, 2, 3]])

In [37]:
def ar(mag):
    x  = len(a)
    print (x) 
    print(ma.sqrt(sum(i**2 for i in x+3
                     )))

ar(4)

1

TypeError: 'int' object is not iterable

In [38]:
import scipy.linalg as norm
print(norm.norm(a))

3.7416573867739413

In [30]:
import pandas as pd
import numpy as np
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as lda
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis as qda

In [31]:
df = pd.read_csv('tips.csv')
df.head()

   obs  totbill   tip sex smoker  day   time  size
0    1    16.99  1.01   F     No  Sun  Night     2
1    2    10.34  1.66   M     No  Sun  Night     3
2    3    21.01  3.50   M     No  Sun  Night     3
3    4    23.68  3.31   M     No  Sun  Night     2
4    5    24.59  3.61   F     No  Sun  Night     4

In [32]:
df = df.drop(['obs', 'size','totbill', 'day', 'time'], axis=1 )

In [33]:
df.head()

    tip sex smoker
0  1.01   F     No
1  1.66   M     No
2  3.50   M     No
3  3.31   M     No
4  3.61   F     No

In [35]:
df = df.replace({"F":1, 'M':0, 'No':1, 'Yes':0} )

TypeError: Cannot compare types 'ndarray(dtype=float64)' and 'str'

In [36]:
df.head()

    tip  sex  smoker
0  1.01    1       1
1  1.66    0       1
2  3.50    0       1
3  3.31    0       1
4  3.61    1       1

In [37]:
y = df['tip']
df
y.head()
df = df.drop('tip', axis =1 )

In [38]:
df['sex'] = df['sex'].astype('category')
df['smoker'] = df['smoker'].astype('category')
df['smoker'] = df['smoker'].cat.codes

In [42]:
y = y.astype('int')
y.head()

0    1
1    1
2    3
3    3
4    3
Name: tip, dtype: int64

In [43]:
x_train,x_test,y_train,y_test = train_test_split(df,y,test_size = 0.2)

In [44]:
gnb = GaussianNB()
gnb.fit(x_train,y_train)
predictions_nb = gnb.predict(x_train)

In [45]:
clf = lda()#store_covariance=True
X_r2  = clf.fit(x_train, y_train).transform(x_train)

In [46]:
X_r2.shape

(195, 2)

In [48]:
predictions_lda = clf.fit.predict(x_train)

AttributeError: 'function' object has no attribute 'predict'

In [51]:
import matplotlib.pyplot as plt
colors = ['navy', 'turquoise']
target_names = ["Yes","No"]

for color, i, target_name in zip(colors, [0, 1], target_names):
    plt.scatter(X_r2[y ==  0], X_r2[y == "No", 1], alpha=.8, color=color,
                label=target_name)
plt.legend(loc='best', shadow=False, scatterpoints=1)
plt.title('LDA of Tips dataset')

plt.show()

IndexError: boolean index did not match indexed array along dimension 0; dimension is 195 but corresponding boolean dimension is 244

In [52]:
clf_qda = qda()
clf_qda_fit = clf_qda.fit(x_train,y_train)
predictions_qda = clf_qda.predict(x_train)

/home/allen/anaconda3/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:682: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

ValueError: y has only 1 sample in class 7, covariance is ill defined.